body {
	background-color: white;
	font-family: Arial;
	font-size: 24px;
	width: 100%;
	margin: 0;
	padding: 1rem;
	box-sizing: border-box;
	touch-action: none;
	pointer-events: none;
	-webkit-user-drag: none;
}

#content {
	border: 1px solid black;
	width: 100%;
}

#myMaps {
	height: 480px;
	width: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	position: relative;
	touch-action: auto;
}

#myMaps svg, #myMaps svg g {
	touch-action: auto !important;
	pointer-events: all !important;
	-webkit-user-drag: initial !important;
}

g[style="pointer-events: all;"] {
	pointer-events: all !important;
}

#myMaps div {
	height: 480px;
	margin: auto auto;
	width: 100%;
}

#controls {
	background-color: lightGrey;
	height: 50px;
	width: 100%;
	z-index:-1;
}

.svgTransparent {
	z-index: -1;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
/*
div#mapLoading {
	font-size: 10em;
	left: 50px;
	position: absolute;
	top: 60px;
	z-index: -1;
}
*/
.debugPath {
	stroke: orange;
	stroke-width: 5;
}

.debugRoom {
	fill: red;
	stroke: red;
	stroke-width: 4;
}

.wayfindingRoom {
	fill: #ffc;
	stroke: blue;
	stroke-width: 2;
	stroke-dasharray: 5 3;
}

g.startPin path {
	fill: cyan;
}

#controls {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
	padding: 2rem;
}

#imgFake {
	position: absolute !important;
	left: 18% !important;
	transform-origin: left !important;
	transform: none !important;
}
